* {/*Reset padding, margin and border on all elements*/
    padding: 0px;
    margin: 0px;
    border: none;
    /*Hide overflow to remove scroller in browsers*/
    overflow: hidden;
}

canvas{
    position:relative;
}
#selectColor{
    margin: 1%;
    color: white;
    background-color: black;
    position: fixed;
    z-index: 2;
    font-size:2em;
    top: 65px;
}
#selectColorBackground{
    margin: 1%;
    color: white;
    background-color: black;
    position: fixed;
    z-index: 2;
    font-size:2em;
}
.slidercontainer{
    margin: 1%;
    color: white;
    
    position: fixed;
    z-index: 3;
    font-size:2em;
    top: 120px;
    left: 10px;
  }
#buttons{
    background-color: rgba(0, 0, 0, 0.5);
    height: 200px;
    width: 380px;
    z-index: 2;
    position: fixed;
    
}
.label{
    color: white;
}
